<div class="row">
    <div style="height: 300px;">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="image in ordination.images track by $index" index="$index">
                <img ng-src="{{image.url}}" style="margin:auto; height: 300px;">
            </div>
        </div>
    </div>
</div>
<div class="row" ng-init="getOrdination()">
    <div class="col-md-6 col-lg-6">
        <h3> {{ ordination.name }} </h3>
        <strong>Email: </strong> <p> {{ ordination.email }} </p>
        <strong>City: </strong><p> {{ ordination.city }} </p>
        <p><strong>Description: </strong></p>
        <p>{{ ordination.description }}</p>
    </div>
</div>
<h3>Doctors in this ordination:</h3>
<div class="row">
    <div ng-repeat="doctor in ordination.doctors" class="col-lg-3 col-md-3">
        <a ng-href="#/doctors/{{ doctor.id }}">
            <div class="panel panel-default">
                <div class="panel-body parent">
                    <img class="img-responsive img-square" ng-src="{{ doctor.imageUrl }}">
                </div>
                <div class="panel-footer">
                    <h4><span style="color:black;text-align: center;">{{ doctor.name }}</span></h4>
                    <strong>Speciality: {{doctor.category.name}}</strong>
                </div>
            </div>
        </a>
    </div>
</div>
