<div class="form-group col-md-6">
    <h2>Login</h2>
    <form ng-submit="login()">
        <label for="loginEmail">Email</label>
        <input type="text" class="form-control" id="loginEmail" ng-model="loginEmail">
        <br>
        <label for="loginPassword">Password</label>
        <input type="password" class="form-control" id="loginPassword" ng-model="loginPassword">
        <br>
        <button type="submit" class="btn btn-default">Login</button>
        <br>
        <div class="alert alert-danger fade in" role="alert" ng-show="loginError != null">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
            {{ loginError }}
        </div>
    </form>
</div>
<div class="form-group col-md-6">
    <h2>Register</h2>
    <form ng-submit="register()">
        <label for="registerFirstName">First name</label>
        <input type="text" class="form-control" id="registerFirstName" ng-model="registerFirstName">
        <br>
        <label for="registerLastName">Last name</label>
        <input type="text" class="form-control" id="registerLastName" ng-model="registerLastName">
        <br>
        <label for="registerCity">City</label>
        <input type="text" class="form-control" id="registerCity" ng-model="registerCity">
        <br>
        <label for="registerEmail">Email</label>
        <input type="text" class="form-control" id="registerEmail" ng-model="registerEmail">
        <br>
        <label for="registerPassword">Password</label>
        <input type="password" class="form-control" id="registerPassword" ng-model="registerPassword">
        <br>
        <div class="alert alert-danger fade in" role="alert" ng-show="registrationError != null">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
            {{ registrationError }}
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>
